.header-image {
	img {
		display: block;
		margin: 0 auto;
	}
}

.header-background-image {
	background: no-repeat center;
	background-size: cover !important;

	.title-box {
		background: #333;
		background: rgba(0,0,0,.7);
	}
}

.site-branding {
	background: $color-dark;
	text-align: center;
	padding:2rem 0;

}
.site-title {
	font-weight: 700;
	@include font-size(3);
	text-transform: uppercase;
	line-height: normal;
	padding-bottom:0;
	margin-bottom: 1rem;

	a {
		text-decoration: none;
	}
}

.site-description {
	font-weight: 100;
	@include font-size(1.5)
}

.site-title,
.site-description {

	a {
		color: $color-light;
	}
}

@media screen and(min-width: $size__site-sidebar*2) {
	.site-branding {
		padding:6rem 0;
	}
	.site-title {
		@include font-size(4);
	}
	.title-box {
		width: 600px;
		max-width: 75%;
		padding: 1rem 2rem;
		margin: 0 auto;
		border: 1px solid $color-light;
	}
}


// SEARCH FORM

#search-container {
	display: none;
}
.search-toggle {
	float:right;
	width: 54px;
	height:54px;
	padding:12px;
	margin-right: 20px;
	color:#fff;
	text-align: center;
	cursor: pointer;

	&:hover,
	&.active {
		background: #333;

	}
}

@media screen and (max-width: 37.5em) {
	.search-toggle {
		position: absolute;
		top:0;
		right:0;
		margin-right: 0

	}
}

input[type="search"] {
	box-sizing: border-box;
	width: 100%;
}

.search-box-wrapper {
	z-index: 2;
	width: 100%;
	clear:both;
	
	.search-box {
		padding: 1rem ;
	background: #333;

		.search-field {
			max-width: $size__site-sidebar;
			float: right;
			padding: .5rem 2rem .5rem 2rem;
			font-size: 20px;
			font-size: 1.2rem;
			background: #fff;
			border:0;
		}
	}
}

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit {
	display: none;
}

