<<<<<<< HEAD
$color__background-body: #fcfcfc;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #010101;
=======
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
<<<<<<< HEAD
$color__link: #010101;
$color__link-visited: #333;
$color__link-hover: #000000;
=======
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
<<<<<<< HEAD


$color-light : #fcfcfc;
$color-dark: #010101;

$dark-menu-color : #010101;
$dark-submenu-color: #333333;
$light-menu-color: #ececec;
$light-submenu-color: #cccccc;
=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
