.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
<<<<<<< HEAD
	text-transform: uppercase;
	background: $dark-menu-color;
	position: relative;
=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

<<<<<<< HEAD

=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
<<<<<<< HEAD
			top: 3em;
			left: -999em;
			z-index: 99999;
			background: $dark-submenu-color;

=======
			top: 1.5em;
			left: -999em;
			z-index: 99999;
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
<<<<<<< HEAD

=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
			}

			:hover > a,
			.focus > a {
<<<<<<< HEAD
				
=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
			}

			a:hover,
			a.focus {
<<<<<<< HEAD

			background: #222;
			color:#fcfcfc;
=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
<<<<<<< HEAD
			color:#fff;
			background: $dark-submenu-color;
=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
		}
	}

	a {
		display: block;
		text-decoration: none;
<<<<<<< HEAD
		color: $light-menu-color;
		padding:1em;
		font-size:16px;
		font-size:1rem;
		line-height: 1.3em;

=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
<<<<<<< HEAD
		background: $light-submenu-color;
		color: $dark-submenu-color;
=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

<<<<<<< HEAD
.menu-toggle {
	height:3.75em;
		padding:0 1em;
		font-weight: normal;
		font-size: 16px;
		font-size: 1rem;
		text-decoration: none;
		line-height: 3.75em;
		color:$light-menu-color;
		box-shadow:none !important;
		text-transform: uppercase;
}

.main-navigation.toggled ul.nav-menu {
			display:block;
			border-top:1px solid;
			border-top-color:#fcfcfc;
}

@media screen and (max-width: 37.5em) {
	
	.main-navigation {
		li {
			float:none;

			a {
				padding: 1em;
			}

			li a {
				padding-left: 2em;
			}

			li li a {
				padding-left: 4em;
			}

			&:hover > a {
				
			}
		}

		ul ul, 
		ul ul ul {
			position:relative;
		}

		ul.children {
			padding:0;
			display: none;
		}

		ul ul {
			a:hover {

			}
		}

		.current_page_ancestor {
			background: inherit;
		}

		ul ul .current_page_parent {
			color:inherit;
			background: inherit;
		}

		.current_page_item > a,
		.current_page_item > a:hover,
		.current_page_item > li:hover,
		.current_page_parent .current_page_item > a {
			color:$light-menu-color;
			background: #333;
		}


	}

}


=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
<<<<<<< HEAD


// SOCIAL MENU

.menu-social {
	ul {
		float:right;
		text-align: center;
		list-style: none;

		li {
			position:relative;
			display: inline-block;

			a:before {
				display: inline-block;
				padding:0 5px;
				vertical-align: top;
				font-family: 'Fontawesome';
				font-size: 20px;
				color:#fcfcfc;
				-webkit-font-smoothing: antialiased;
				content: '\f0c0';
			}

			a[href*="facebook.com"]::before {
				content: '\f09a';
			}
			a[href*="twitter.com"]::before {
				content: '\f099';
			}
			a[href*="plus.google"]::before {
				content: '\f0d5';
			}
			a[href*="pinterest.com"]::before {
				content: '\f0d2';
			}
		}
	}
}

@media screen and (max-width: 37.5em) {
	#menu-social {
		ul {
			position:absolute;
			top:0;
			right:3rem;
			display: block;

			li a {
				padding-left: .5em;
				padding-right: .5em;
			}
		}
	}
}
=======
>>>>>>> 0bea866274f44ba065a3344ea1605e5916f45d96
